Q1. Create one variable containing following type of data ?
(i) string
(ii) list
(iii) float
(iv) tuple

In [105]:
N="sagar"
print(type(N))

<class 'str'>

In [67]:
N=[1,2,3,4,"sagar",23.34,6+4j]
print(type(N))

<class 'list'>

In [36]:
N=23.34
print(type(N))

<class 'float'>

In [37]:
N=(1,2,3,4,"sagar",23.34,6+4j)
print(type(N))

<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1=''
    type(var1)

IndentationError: unexpected indent (1988386758.py, line 2)

In [44]:
 var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (100285119.py, line 1)

In [43]:
var3=["DS", 'ML',"Python"]

type(var3)

list

In [ ]:
var4 = 1.
type(var4)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
a=int(input())
b=int(input())
c=a/b
print(c)

 13
 13

1.0

In [ ]:
a=int(input())
b=int(input())
c=a%b
print(c)

In [ ]:
a=int(input())
b=int(input())
c=a//b
print(c)

In [ ]:
a=int(input())
b=int(input())
c=a**b
print(c)

4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.?

In [13]:
l=[1,3,4,5,6,4.5,"sagar",6+4j,True]

for n in l:
    print(type(n))
    print(n)

<class 'int'>
1
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'float'>
4.5
<class 'str'>
sagar
<class 'complex'>
(6+4j)
<class 'bool'>
True

5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible ?

In [71]:
a=int(input("enter the value of a : "))

count=0


while a!=0:
    a=a//10
    count+=1
print(count)

enter the value of a :  100

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not?

In [118]:
l=[6, 7, 8, 9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
for i in l :
  if i%3==0 :
    print(i,"number is divisible by 3")
  else :
        print(i,"number is not divisible by 3")

6 number is divisible by 3
7 number is not divisible by 3
8 number is not divisible by 3
9 number is divisible by 3
10 number is not divisible by 3
11 number is not divisible by 3
12 number is divisible by 3
13 number is not divisible by 3
14 number is not divisible by 3
15 number is divisible by 3
16 number is not divisible by 3
17 number is not divisible by 3
18 number is divisible by 3
19 number is not divisible by 3
20 number is not divisible by 3
21 number is divisible by 3
22 number is not divisible by 3
23 number is not divisible by 3
23 number is not divisible by 3
25 number is not divisible by 3
26 number is not divisible by 3
27 number is divisible by 3
28 number is not divisible by 3
29 number is not divisible by 3
30 number is divisible by 3
31 number is not divisible by 3
32 number is not divisible by 3
33 number is divisible by 3
34 number is not divisible by 3
35 number is not divisible by 3
36 number is divisible by 3
37 number is not divisible by 3
38 number is not divisible by 3
39 number is divisible by 3
40 number is not divisible by 3

What do you understand about mutable and immutable data types? Give examples for both showing
this property ?

ANS-you have an immutable object if you can't change the object's state after you've created it. In contrast, a mutable object allows you to modify its internal state after creation

In [120]:
l=[2,3,4,5,6,"sudh",3+7J,True,34.36,False]
l[3]=400
print(l) #list is mutable object.we can modify after created list.

[2, 3, 4, 400, 6, 'sudh', (3+7j), True, 34.36, False]

In [119]:
s="sagar"
s[3]=

list

'S'